#top {
  border-bottom: 3px red dashed;
}
.result {
  border-bottom: 3px red dashed;
  margin-top: 50px;
  margin-bottom: 30px;
}

.footer {
  display: block;
  margin: 0 auto;
  width: max-content;
}
